* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flower-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  padding-top: 5rem;
  padding-left: 1.5rem;
}
.details-section-img {
  height: 635px;
  width: 570px;
  padding-top: 5rem;
  padding-right: 1rem;
}
.fa-star {
  color: #ff3d2a;
}
.details-section-img {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .flower-details {
    padding-top: 1rem;
  }
  .flower-details span {
    padding-top: 1rem;
  }
}
